{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saviour's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static '/css/main.css' %}">

</head>
<body>
<br/>
    <div class="container">
        <div class="row">
    <div class="col-md-3">
        <div class="card card-body h-100 border-info" id="profile-wrapper">
            <img id="profile-pic" src="{% static 'images/Heathrow-Personal-Shopper-Oliver-Mamani-409892.jpeg' %}"/>
            <hr/>
            <h4>Hi, I'm Saviour</h4>
            <p>
                I love coding, doing research and collaborating
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body h-100 border-info">
            <h4>My First Job as a Developer</h4>
            <hr/>
            <p>
                3 months after writing my first hello world program on september 2017 (While working in the marketing
                department) I had convinced my boss to let me take a stab at building a better version of the outdated
                laboratory management system my company was running on.
            </p>
            <p>
                Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in
                charge of hosting hundreds of thousands of lab samples and supporting thousands of clients.
            </p>

            <p>
                From this you'll see that I'm someone that jumps before I can talk myself out of doing
                something scary.
            </p>
            <ul class="social-links">
                <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                <li><img class="social" src="{% static 'images/youtube-1200x500.jpeg' %}"></li>
            </ul>
        </div>
    </div>
        </div>
<br/>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My Experience as a Developer</h4>
                    <hr/>
                    <p>
                        Full stack developer at FOI Laboratories.
                    </p>
                    <p>Designed, built and managed a lab management system as a sole developer.
                    System supported thousands of customers with a UI for Lab Admins and a customer dashboard</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>What I know</h4>
                    <hr/>
                    <p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs such as google maps,
                    Javascript charts and a whole bunch more I cant' possibly mention on one sentence!</p>
                    <p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
                </div>
            </div>
        </div>
<br/>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>How I learn</h4>
                    <hr/>
                    <p>Reverse Engineer and Build Ugly prototype first.</p>
                    <p>
                        I can learn just about just anything by having a final product to tear apart piece by piece. I break the
                        code where I need to figure out why things work the way they do. Documentation is just a reference.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My short term goals.</h4>
                    <hr/>
                    <p>
                        After almost two years of supporting my system at the lab I'm ready to learn something new. I'will be collaborating and
                        sharing my experience with others on my blog and youtube channel.

                    </p>
                    <p> Aside from building small projects I would love to enter a position where I can be part of a bigger
                    team and learn from others with more experience than myself.</p>
                </div>
            </div>
        </div>



    </div>
</div>


</body>
</html>